/* font css */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YdestreetL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.co {width: 100%; height: 100%; background-image: url(../images/bg1.jpg);}

.co .box {width: 660px; height: 350px; background: #fff; /* border: 4px solid #4a66ac; */ border-radius: 15px; box-shadow: 1px 1px 20px #000; position: absolute; top: 282px; left: 620px;}
.co .box .bar {width: 660px; border-bottom: 3px solid #4a66ac; position: relative; top: 36px;}
.co .box .window_box1 {width: 25px; border-bottom: 3px solid #4a66ac; position: relative; left: 552px; bottom: -17px;}
.co .box .window_box2 {width: 20px; height: 20px; border: 3px solid #4a66ac; background: #fff; position: relative; top: 6px; left: 586px;}
.co .box .window_box3 {width: 20px; height: 20px; border: 3px solid #4a66ac; background: #fff; position: relative; bottom: 18px; left: 591px;}
.co .box .window_box4 {width: 26px; border-bottom: 3px solid #4a66ac; transform: rotate(45deg); position: relative; bottom: 27px; left: 618px;}
.co .box .window_box5 {width: 26px; border-bottom: 3px solid #4a66ac; transform: rotate(-45deg); position: relative; left: 618px; bottom: 30px;}

.co .txt {width: 550px; height: 550px; margin: 0 auto; position: relative; top: 210px; left: 158px;}
.co .txt h1 {width: 320px; height: 300px; text-align: center; font-family: 'YdestreetL'; font-size: 36px; letter-spacing: 1px; color: #000; position: absolute; float: left; right: 282px; top: 126px;}
.co .txt h2 {width: 500px; height: 100px; text-align: center; font-family: 'YdestreetL'; font-size: 36px; letter-spacing: 1px; color: #000; position: absolute; top: 163px; right: 190px}
.co .txt .bold {width: 500px; text-align: center; font-family: 'YdestreetB'; font-size: 36px; font-weight: 900; letter-spacing: 1px; color: #4a66ac; position: absolute; top: 236px; right: 192px;}

.co .btn {width: 445px; height: 100px; position: relative; left: 726px; bottom: 65px;}
.co .btn a {text-decoration: none; position: relative; bottom: 30px;}
.co .btn .yes_box {width: 207px; height: 63px; line-height: 65px; text-align: center; background: #eee; border-radius: 8px; position: absolute; top: 27px; left: 1px;}
.co .btn .yes_box .yes {text-align: center; font-family: 'YdestreetL'; font-size: 40px; letter-spacing: -2px; color: #000; position: relative; top: 3px; left: 0px;}

.co .btn .no_box {width: 207px; height: 63px; line-height: 65px; text-align: center; background: #eee; border-radius: 8px; position: absolute; top: 27px; left: 235px;}
.co .btn .no_box .no {text-align: center; font-family: 'YdestreetL'; font-size: 40px; font-weight: 900; letter-spacing: -2px; color: #000; position: relative; top: 3px; left: 0px;}

.co .btn .yes_box:hover {background: #4a66ac;}
.co .btn .yes_box .yes:hover {color: #fff;}
.co .btn .no_box:hover {background: #4a66ac;}
.co .btn .no_box .no:hover {color: #fff;}

.co .txtbox {width: 210px; height: 150px; font-weight: bold; font-size: 18px; color: #fff; position: relative; top: 109px; left: 68px;}

/* 반짝이효과 */
.co .dia2 {width: 100%; height: 100%;}
.co .dia2_1 {font-family: 'YUniverse-B'; font-size: 8px; color: #4a66ac; position: absolute; top: 300px; left: 587px;}
.co .dia2_2 {font-family: 'YUniverse-B'; font-size: 22px; color: #4a66ac; position: absolute; top: 277px; left: 533px;}
.co .dia2_3 {font-family: 'YUniverse-B'; font-size: 32px; color: #4a66ac; position: absolute; top: 284px; left: 494px;}
.co .dia2_4 {font-family: 'YUniverse-B'; font-size: 42px; color: #4a66ac; position: absolute; top: 341px; left: 496px;}
.co .dia2_5 {font-family: 'YUniverse-B'; font-size: 8px; color: #4a66ac; position: absolute; top: 408px; left: 546px;}

.co .dia3 {width: 100%; height: 100%;}
.co .dia3_1 {font-family: 'YUniverse-B'; font-size: 36px; color: #4a66ac; position: absolute; top: 305px; left: 1299px;}
.co .dia3_2 {font-family: 'YUniverse-B'; font-size: 26px; color: #4a66ac; position: absolute; top: 353px; left: 1319px;}
.co .dia3_3 {font-family: 'YUniverse-B'; font-size: 8px; color: #4a66ac; position: absolute; top: 384px; left: 1351px;}

.co .dia4 {width: 100%; height: 100%;}
.co .dia4_1 {font-family: 'YUniverse-B'; font-size: 48px; color: #4a66ac; position: absolute; top: 508px; left: 631px;}
.co .dia4_2 {font-family: 'YUniverse-B'; font-size: 40px; color: #4a66ac; position: absolute; top: 566px; left: 658px;}
.co .dia4_3 {font-family: 'YUniverse-B'; font-size: 8px; color: #4a66ac; position: absolute; top: 620px; left: 706px;}

.co .dia5 {width: 100%; height: 100%;}
.co .dia5_1 {font-family: 'YUniverse-B'; font-size: 18px; color: #4a66ac; position: absolute; top: 472px; left: 1356px;}
.co .dia5_2 {font-family: 'YUniverse-B'; font-size: 48px; color: #4a66ac; position: absolute; top: 447px; left: 1353px;}
.co .dia5_3 {font-family: 'YUniverse-B'; font-size: 30px; color: #4a66ac; position: absolute; top: 450px; left: 1412px;}

.co .footer {width: 100%; height: 30px; background: #4a66ac; line-height: 24px; text-align: center; position: absolute; top: 900px;}
.co .footer p {font-size: 2px; color: #fff; font-weight: 500;}


/* popup */
.popup_layer {position: fixed; top: 4604px; left: 0; z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);}
    
/* popup box */
.popup_box {width: 660px; height: 350px; position: relative; top: 457px; left: 950px; overflow: auto; transform: translate(-50%, -50%); z-index: 1002; box-sizing: border-box; border: 1px solid #fff; border-radius: 15px; background: #fff; box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35); -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35); -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
    
/* content */
.popup_box .popup_cont {padding: 50px; line-height: 1.4rem; font-size: 14px;}
.popup_box .popup_cont h5 {text-align: center; font-family: 'YdestreetB'; padding: 15px; font-size: 18px; color: #4a66ac; margin: 0;}
.popup_box .popup_cont p {text-align: center; padding-top: 10px; font-weight: 600;}

/* btn */
.popup_box .popup_btn {display: table; table-layout: fixed; width: 207px; position: relative; left: 215px; bottom: 27px; border: 1px solid #eee; border-radius: 8px; background: #eee; word-break: break-word;}
.popup_box .popup_btn a {position: relative; top: 0px; display: table-cell; font-size: 17px; text-align: center; vertical-align: middle; /* background: #4a66ac; */ color: #000; font-family: 'Noto Sans KR'; font-weight: 700; letter-spacing: -2px;}
.popup_box .popup_btn a:before {content: ''; display: block; position: absolute; bottom: 260px; left: 413px; width: 3px; height: 25px; background: #fff; -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after {content: ''; display: block; position: absolute; bottom: 260px; left: 413px; width: 3px; height: 25px; background: #fff; -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background: #5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after {display: none;}
.popup_box .popup_btn:hover {background: #4a66ac;}
.popup_box .popup_btn a:hover {color: #fff;}
    
/* overlay bg */
.popup_overlay {position: fixed; top: 0px; right: 0; left: 0; bottom: 0; z-index: 1001; background: rgba(0,0,0,0.5);}