
.in {background: #eee;}
.in1 {width: 335px; height: 328px;}
.in1 .title_txt {position: absolute; top: 2px; left: 110px; font-size: 152px;}

.index1 {position: absolute; left: 1095px; top: 540px;}
.in1 .ft {position: absolute; left: 1150px; top: 508px; font-size: 110px; font-weight: 600; letter-spacing: 2px; color: #4a66ac;}
.in1 .st {position: absolute; left: 1154px; top: 724px; font-size: 28px; color: #4a66ac;}
.in1 .st1 {position: absolute; left: 1153px; top: 774px; font-size: 22px; font-weight: 500;}
.in1 .st2 {position: absolute; left: 0px; top: -18px; font-size: 22px; font-weight: 500; color: #767070;}

.in2 {width: 335px; height: 328px;}
.index2 {position: absolute; left: 1465px; top: 540px;}
.in2 .ft {position: absolute; left: 1520px; top: 508px; font-size: 110px; font-weight: 600; letter-spacing: 2px; color: #4a66ac}
.in2 .st {position: absolute; left: 1522px; top: 725px; font-size: 28px; color: #4a66ac;}
.in2 .st1 {position: absolute; left: 1522px; top: 775px; font-size: 22px; font-weight: 500;}