/* font css */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YdestreetL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YUniverse-L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Primary style */
*, *::after, *::before {box-sizing: border-box;}
html {font-size: 62.5%;}
body {font-size: 1.6rem; font-family: "Montserrat"; color: #767070; background-color: #ffffff;}
a {color: #4a66ac; text-decoration: none;}
ul,li {list-style: none;}

/* Slider */
.cd-slider-wrapper {position: relative; height: 100vh; padding: 10px;}
@media only screen and (min-width: 900px) {.cd-slider-wrapper {padding: 30px;}}
.cd-slider {position: relative; bottom: 15px; z-index: 1; height: 100%; overflow: hidden;}
.cd-slider li {position: absolute; top: 0; left: 0; height: 100%; width: 100%; -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); -webkit-transition: -webkit-transform 0.6s; -moz-transition: -moz-transform 0.6s; transition: transform 0.6s;}
.cd-slider li.is-visible {-webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0);}
.cd-slider .cd-half-block {height: 50%; background-position: center center; background-repeat: no-repeat;}
.cd-slider li:first-of-type .image {background-image: url(../images/project_01.jpg);}
.cd-slider li:nth-of-type(2) .image {background-image: url(../images/project_02.jpg);}
.cd-slider li:nth-of-type(3) .image {background-image: url(../images/project_03.jpg);}
.cd-slider li:nth-of-type(4) .image {background-image: url(../images/project_04.jpg);}
.cd-slider li:nth-of-type(5) .image {background-image: url(../images/project_05.jpg);}
.cd-slider li:nth-of-type(6) .image {background-image: url(../images/project_06.jpg);}
.cd-slider li:nth-of-type(7) .image {background-image: url(../images/project_07.jpg);}
.cd-slider li:nth-of-type(8) .image {background-image: url(../images/project_08.jpg);}
.cd-slider li:nth-of-type(9) .image {background-image: url(../images/img-1.jpg);}
.cd-slider li:nth-of-type(10) .image {background-image: url(../images/img-2.jpg);}
.cd-slider li:nth-of-type(11) .image {background-image: url(../images/project_11.jpg);}
.cd-slider li:nth-of-type(12) .image {background-image: url(../images/project_12.jpg);}
.cd-slider li:nth-of-type(13) .image {background-image: url(../images/project_13.jpg);}
.cd-slider li:nth-of-type(14) .image {background-image: url(../images/project_14.jpg);}
.cd-slider li:nth-of-type(15) .image {background-image: url(../images/img-3.jpg);}
.cd-slider li:nth-of-type(16) .image {background-image: url(../images/project_16.jpg);}
.cd-slider li:nth-of-type(17) .image {background-image: url(../images/project_17.jpg);}
.cd-slider li:nth-of-type(18) .image {background-image: url(../images/project_18.jpg);}
.cd-slider li:nth-of-type(19) .image {background-image: url(../images/project_19.jpg);}
.cd-slider li:nth-of-type(20) .image {background-image: url(../images/project_20.jpg);}
.cd-slider li:nth-of-type(21) .image {background-image: url(../images/project_21.jpg);}
.cd-slider .image {background-size: cover; z-index: 9999;}
.cd-slider .content {padding: 30px; color: #ffffff; background-color: #ac292f; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/* .cd-slider .light-bg {color: #fff; rgba(0, 0, 0, 0.6); } */
.cd-slider .btn {display: inline-block; background: rgba(0, 0, 0, 0.2); padding: 1em 1.6em; margin-top: 1em; font-size: 1.3rem; color: #ffffff; border-radius: 50em; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s;}
.no-touch .cd-slider .btn:hover {background: rgba(0, 0, 0, 0.6);}
.cd-slider li:nth-of-type(2) .content {background-color: #7b7b7a;}
.cd-slider li:nth-of-type(3) .content {background-color: #149f5c;}
.cd-slider li:nth-of-type(4) .content {background-color: #175890;}
.cd-slider li:nth-of-type(5) .content {background-color: #A81919;}
.cd-slider li:nth-of-type(6) .content {background-color: #555;}
.cd-slider li:nth-of-type(7) .content {background-color: saddlebrown;}
.cd-slider li:nth-of-type(8) .content {background-color: #2e479b;}
.cd-slider li:nth-of-type(9) .content {background-color: #767070;}
.cd-slider li:nth-of-type(10) .content {background-color: #ccd0c1;}
.cd-slider li:nth-of-type(11) .content {background-color: #d8bb78;}
.cd-slider li:nth-of-type(12) .content {background-color: #555;}
.cd-slider li:nth-of-type(13) .content {background-color: #68A12A;}
.cd-slider li:nth-of-type(14) .content {background-color: #002c4b;}
.cd-slider li:nth-of-type(15) .content {background-color: #666;}
.cd-slider li:nth-of-type(16) .content {background-color: #222;}
.cd-slider li:nth-of-type(17) .content {background-color: #b91921;}
.cd-slider li:nth-of-type(18) .content {background-color: #222;}
.cd-slider li:nth-of-type(19) .content {background-color: #222;}
.cd-slider li:nth-of-type(20) .content {background-color: #006ab0;}
.cd-slider li:nth-of-type(21) .content {background-color: #ccd0c1;}
.cd-slider h2 {font-size: 2.2rem; margin-bottom: .4em;}
.cd-slider p {font-size: 1.4rem;}
.cd-slider h2, .cd-slider p {line-height: 1.4;}

/* 프로젝트 개별 텍스트 */
.color_text1 {color: #555;}
.color_text2 {color: #7b7b7a;}
.color_text3 {color: #7b7b7a;}
.color_text4 {color: #555;}
.color_text5 {color: #A81919;}
.color_text6 {color: #555;}
.color_text7 {color: #555;}
.color_text8 {color: #555;}
.color_text9 {color: #555;}
.color_text10 {color: #555;}
.color_text11 {color: #555;}
.color_text12 {color: #555;}
.color_text13 {color: #555;}
.color_text14 {color: #555;}
.color_text15 {color: #555;}
.color_text16 {color: #b91921;}
.color_text17 {color: #222;}
.color_text18 {color: #222;}

@media only screen and (min-width: 900px) {.cd-slider li {pointer-events: none; z-index: 1; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-transition: z-index 0s 0.6s; -moz-transition: z-index 0s 0.6s; transition: z-index 0s 0.6s;}
.cd-slider li.is-visible {pointer-events: auto; z-index: 3; -webkit-transition: z-index 0s 0s; moz-transition: z-index 0s 0s; transition: z-index 0s 0s;}
.cd-slider li.is-visible.covered {/* list item still there, but covered by the list item entering the viewport (.is-visible) */ z-index: 2;}
.cd-slider .cd-half-block {height: 100%; width: 50%; float: right;}
.cd-slider .cd-half-block.content {-webkit-transform: translateX(200%); -moz-transform: translateX(200%); -ms-transform: translateX(200%); -o-transform: translateX(200%); transform: translateX(200%); -webkit-transition: -webkit-transform 0.6s 0s ease-in-out; -moz-transition: -moz-transform 0.6s 0s ease-in-out; transition: transform 0.6s 0s ease-in-out;}
.cd-slider .cd-half-block.image {-webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); -webkit-transition: -webkit-transform 0s 0.3s; -moz-transition: -moz-transform 0s 0.3s; transition: transform 0s 0.3s;}
.cd-slider li.is-visible .cd-half-block.content, .cd-slider li.is-visible .cd-half-block.image {-webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%);}
.cd-slider li.is-visible .cd-half-block.content {-webkit-transition: -webkit-transform 0.6s 0s ease-in-out; -moz-transition: -moz-transform 0.6s 0s ease-in-out; transition: transform 0.6s 0s ease-in-out;}
.cd-slider .content {/* vertically align its content */ display: table; padding: 0 40px;}
.cd-slider .content > div {/* vertically align <div> inside div.content */ display: table-cell; vertical-align: middle;}
.cd-slider .btn {padding: 1.4em 2em; font-size: 1.4rem;}
.cd-slider p {font-size: 1.6rem;}
.cd-slider h2 {font-size: 3.5rem; margin-bottom: 0;}
.cd-slider h2, .cd-slider p {line-height: 2;}
}
@media only screen and (min-width: 1170px) {
    .cd-slider .content {padding: 0 90px;}
    .cd-slider h2 {font-family: 'YUniverse-B'; font-weight: 300;}
    }

/* Slider Navigation */
.cd-slider-navigation {
/* you won't see this element in the html but it will be created using jQuery */
position: absolute; z-index: 3; left: 50%; right: auto; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); bottom: 30px;}
.cd-slider-navigation li {display: inline-block; margin: 0 0.1em;}
.cd-slider-navigation li.selected a {background-color: #ffffff;}
.cd-slider-navigation a {display: block; height: 8px; width: 8px; border-radius: 50%; color: transparent;
/* image replacement */
white-space: nowrap; text-indent: 100%; overflow: hidden; border: 1px solid #ffffff;}
@media only screen and (min-width: 900px) {
    .cd-slider-navigation {padding: 0.5em 0em; background-color: rgba(0, 0, 0, 0.8);
    /* fixes a bug on Firefox with ul.cd-slider-navigation z-index */ -webkit-transform: translateZ(2px) translateX(-50%); -moz-transform: translateZ(2px) translateX(-50%);
    -ms-transform: translateZ(2px) translateX(-50%); -o-transform: translateZ(2px) translateX(-50%); transform: translateZ(2px) translateX(-50%); -webkit-transition: -webkit-transform 0.3s; -moz-transition: -moz-transform 0.3s; transition: transform 0.3s; position:absolute; bottom: 32px;}
.cd-slider-navigation.slider-animating {
/* fixes a bug on Firefox with ul.cd-slider-navigation z-index */
-webkit-transform: translateX(-50%) scale(1); -moz-transform: translateX(-50%) scale(1); -ms-transform: translateX(-50%) scale(1); -o-transform: translateX(-50%) scale(1); transform: translateX(-50%) scale(1);}
.cd-slider-navigation a {height: 40px; width: 40px; line-height: 40px; text-align: center;

/* reset style */
text-indent: 0; border: none; border-radius: 0; color: #ffffff; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.cd-slider-navigation li.selected a {background-color: transparent; color: #f3b96c; font-weight: 600;}
}