/* font css */
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YdestreetL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YUniverse-L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-L.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Somi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Somi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page-content {display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 4rem; padding: 1rem; max-width: 1724px; margin: 150px auto;}

.card {position: relative; display: -webkit-box; display: flex; -webkit-box-align: end; align-items: flex-end; overflow: hidden; padding: 1rem; top: 0%; width: 100%; height: 300px; cursor: pointer; text-align: center; color: whitesmoke; background-color: whitesmoke; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);}

.card:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
background-position: 0 0; background-size: cover; -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e); transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
transition: transform calc(var(--d) * 1.5) var(--e); transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e); pointer-events: none; transition:all .4s;}
.card:after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 200%; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79))); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%); -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e); transition: -webkit-transform calc(var(--d) * 2) var(--e); transition: transform calc(var(--d) * 2) var(--e); transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e); transition:all .4s}
.card:nth-child(1):before {background-image: url(../images/work_thumbnail_01.jpg); background-position: top; background-size: cover;}
.card:nth-child(2):before {background-image: url(../images/work_thumbnail_02.jpg); background-position: center; background-size:cover;}
.card:nth-child(3):before {background-image: url(../images/work_thumbnail_03.jpg); background-position: center; background-size: cover;}
.card:nth-child(4):before {background-image: url(../images/work_thumbnail_04.jpg); background-position: center; background-size: cover;}
.card:nth-child(5):before {background-image: url(../images/work_thumbnail_05.jpg); background-position: center; background-size: cover;}
.card:nth-child(6):before {background-image: url(../images/work_thumbnail_06.jpg); background-position: center; background-size: cover;}
.card:nth-child(7):before {background-image: url(../images/work_thumbnail_07.jpg); background-position: center; background-size: cover;}
.card:nth-child(8):before {background-image: url(../images/work_thumbnail_08_1.jpg); background-position: center; background-size: cover; animation-name: pn; animation-duration: 5s; animation-direction: normal; animation-iteration-count: infinite; transition: all 5s;}

@keyframes pn {
    0% {background-image: url(../images/work_thumbnail_08_1.jpg); background-position: center ; background-size: cover;}
    30% {background-image: url(../images/work_thumbnail_08_2.jpg); background-position: center; background-size: cover;}
    60% {background-image: url(../images/work_thumbnail_08_3.jpg); background-position: center; background-size: cover;}
    90% {background-image: url(../images/work_thumbnail_08_4.jpg); background-position: center; background-size: cover;}
    }  
    
.card:nth-child(9):before {background-image: url(../images/work_thumbnail_09.jpg); background-position: center; background-size: cover;}
.card:nth-child(10):before {background-image: url( ); background-position: center; background-size: cover;}

.content {position: relative; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-align: center; align-items: center; width: 100%; padding: 1rem; -webkit-transition: -webkit-transform var(--d) var(--e); transition: -webkit-transform var(--d) var(--e); transition: transform var(--d) var(--e); transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e); z-index: 1;}
.content > * + * {margin-top: 1rem;} 

.wo_title {font-family: 'Noto Sans KR'; font-size: 1.5rem; font-weight: bold; line-height: 4; color: #fff; position: relative; top: 10px;}
/* .copy {font-family: 'Rozha One', serif; font-size: 1.8rem; line-height: 1.35;} */
.page4_btn {cursor: pointer; width: 150px; height: 50px; background: #555;}
.page4_btn a {color: white; text-decoration: none; font-family: 'Montserrat'; font-size: 1.2rem;}
.page4_btn:hover {background-color: #4a66ac; transition: all .4s;}
/* .page4_btn:focus {outline: 1px dashed yellow; outline-offset: 3px;} */

@media (hover: hover) and (min-width: 500px) {
    .card:after {-webkit-transform: translateY(-20%); transform: translateY(-20%);}
    .content {-webkit-transform: translateY(calc(100% - 4.5rem)); transform: translateY(calc(100% - 4.5rem));}
    .content > *:not(.wo_title) {opacity: 1; -webkit-transform: translateY(1rem); transform: translateY(1rem); -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e); transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e); transition: transform var(--d) var(--e), opacity var(--d) var(--e); transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);}
    .card:hover, .card:focus-within {-webkit-box-align: center; align-items: center;}
    .card:hover:before, .card:focus-within:before {-webkit-transform: scale(1.1); transform: scale(1.1);}
    .card:hover:after, .card:focus-within:after {-webkit-transform: translateY(-50%); transform: translateY(-50%);}
    .card:hover .content, .card:focus-within .content {-webkit-transform: translateY(0); transform: translateY(0);}
    .card:hover .content > *:not(.wo_title), .card:focus-within .content > *:not(.wo_title) {opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition-delay: calc(var(--d) / 8); transition-delay: calc(var(--d) / 8);}
    .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.wo_title) {-webkit-transition-duration: 0s; transition-duration: 0s;}
    }