* {margin: 0; padding: 0; list-style: none;}
body,html {height: 100%;}
body {background-color: #000;}

#bg {width: 100%; height: 100%; position: fixed; background: #fff url(../images/bg.jpg) 0 0 no-repeat; background-size: cover; opacity: 0;}
header {width: 100%; top: -150px; left: 0; position: fixed; z-index: 999;}

#logo {padding: 25px 30px; background-color: rgba(0,0,0,0.5); float: left; margin-left: 40px;}

#menu {float: right; margin-top: 40px; margin-right: 40px;}
#menu li {float: left; margin: 0 10px; color: #fff;}
#menu li span:hover {text-decoration: underline; cursor: pointer;}

#main_title {width: 100%; position: fixed; left: 0; top: 250px; color: #fff; font-size: 50px; letter-spacing: -3px; text-align: center; text-shadow: 0 3px 5px rgba(0,0,0,0.7); opacity: 0;}
#main_text {width: 100%; position: fixed; left: 0; top: 320px; color: #fff; font-size: 18px; letter-spacing: -1px; text-align: center; text-shadow: 0 3px 5px rgba(0,0,0,0.7); opacity: 0;}
#main_text span {color: #ffff00;}

footer {position: fixed; width: 100%; height: 30px; left: 0; bottom: -100px; line-height: 30px; z-index: 999;}
footer p {float: left; margin-left: 30px; font-size: 12px; color: #fff;}
footer img {float: right; margin-right: 30px; margin-top: 4px;}

#gallery_bt {width: 150px; height: 50px; color: #fff; position: fixed; left: 0; right: 0; bottom: 30px; text-align: center; margin: auto; cursor: pointer;}
#gallery_bt h3 {position: absolute; width: 100%; bottom: 0;}
#gallery_bt h4 {position: absolute; width: 100%; top: 8px;}
#gallery {width: 100%; height: 100px; position: fixed; left: 0; bottom: -100px; background-color: #000;}
#gallery ul {width: 10px; margin: 5px auto; height: 90px; overflow: hidden;}
#gallery ul li {width: 154px; margin: 2px; float: left;}
#gallery ul li im {width: 100%; vertical-align: top;}